body {
  background-color: #F9F9F9;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  background-color: #FFFF;

}

.flex-container > div {
  /* background-color: #FFFF; */
  /* margin: 1px; */
  text-align: center;
  line-height: 1.2em;
  font-size: 14px;
  padding: 15px;
  /* border: 0.5px solid #58595A; */
  /* border-image: linear-gradient(25deg, #ff0, #00f);
  border-image-slice: 1; */
  /* border-style: solid;
  border-radius: 30px; */
  /* border: double 0.5px transparent;
  background-image: linear-gradient(#EFEFE9, #EFEFE9),
  linear-gradient(90deg, #ff0, #00f);
  background-origin: border-box;
  background-clip: content-box, border-box; */
}

.header {
  flex: 1;
  background-image: url("../images/img_2777.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header > h1 {
  font-family: arial;
  color: #FAFDFF;
  opacity: 80%;
  margin-top: 40px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-size: 80px;
}

.topnav {
  flex: 1;
  background-color: #f9f9fb;
  text-align: center;
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
}

.topnav > a {
  padding: 10px;
  color: #1b1b1b;
  font-size: 18px;
  margin-right: 20px;
  line-height: 1.8em;
  text-decoration: none;
}

.topnav > a:hover {
  color: #0E7FF0;
}

.mainContent {
  flex: 1;
}

.content {
 background-color: #DFF2F8;
 padding: 10px;
 line-height: 1.5em;
}

.weather {
  flex: 1;
  margin-bottom: 0px;
}

.aside {
  flex: 0 0 300px;
}

.aside > p {
  line-height: 1.5em;
  font-weight: bold;
  padding: 15px;
}

.footer {
  flex: 1;
  background-color: #f9f9fb;
  text-align: center;
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
}

.footer > h2 {
  color: #0E7FF0;
}

.socialIcon {
  color: #aaaaaa;
  margin-left: 10px;
  margin-right: 10px;
}

socialIcon:hover {
  color: #0A56A3;
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}
